typing-extensions
langchain-openai
openai>=1.52.0
langchain-experimental
pandas
yfinance
praw
feedparser
stockstats
eodhd
langgraph
mcp[servers]>=1.6.0
chromadb
setuptools
backtrader
akshare
tushare
finnhub-python
parsel
requests
tqdm
pytz
redis
chainlit
rich
questionary
langchain_anthropic
langchain-google-genai
